<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744777671655-pkqnn8iumkiv7sn86bqen2l94a4hbfqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744777671655-pkqnn8iumkiv7sn86bqen2l94a4hbfqt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_w_aEWx2RaYQ7MzupMAJT9VWuDzTsLsg</string>
	<key>GCM_SENDER_ID</key>
	<string>744777671655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plannerEtp</string>
	<key>PROJECT_ID</key>
	<string>etpplanner</string>
	<key>STORAGE_BUCKET</key>
	<string>etpplanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744777671655:ios:dc245cc925df3837749342</string>
</dict>
</plist>